<div class="register-block">
  <div class="block-header">Signup your account!</div>

  <div class="form-errors">
    <% @user.errors.full_messages.each do |err_msg|%>
      <%= err_msg %>
    <% end unless @user.errors.full_messages.blank?%>
  </div>

  <div class="block-body">
    <%= form_for(@user, :url => "/users") do |f| %>

      <div class="fields">
        <%= f.label :user_name %><br/>
        <%= f.text_field :user_name %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up!" %>
      </div>

      <div class="additional-links">
        <%= link_to "Already have an account? Sign in!", users_path %>
      </div>
    <% end %>
  </div>
</div>